@import "../../global.scss";

.modal-content {
  position: fixed;
  background: var(--secondary-background-color);
  width: 50%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  border-radius: 6px;
  word-wrap: break-word;
  padding: 15px;

  @media (max-width: $--tablet-breakpoint) {
    width: 80%;
  }

  @media (max-width: $--mobile-breakpoint) {
    width: 80%;
  }
}

.modal-header {
  display: flex;
  flex-direction: row-reverse;

  button {
    font-size: 15px;
    padding: 0px 15px 0 0px;
    background: none;
    border: none;
    transition-duration: 0.2s;
    width: 10px;
    height: 10px;

    &:hover {
      cursor: pointer;
      font-size: 20px;
      margin-right: 1px;
    }
  }
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
