@import "./global.scss";

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--primary-background-color-dark-theme);
  padding: 10px;
}

.main-title {
  background-image: linear-gradient(60deg, #22c0ff, var(--primary-theme-color));
  background-clip: text;
  color: transparent;
  font-size: 64px;
  padding-bottom: 50px;
}

.nft-url-form {
  input {
    width: 100%;
  }

  @media (max-width: $--mobile-breakpoint) {
    flex-direction: column;
    width: 100%;

    input {
      width: 100%;
      margin: 0;
    }
  }
}

.form-separator {
  margin: 15px 0 15px 0;
}

.nft-properties-form {
  display: flex;
  flex-direction: row;

  input {
    margin: 0 10px 0 10px;
  }

  label {
    text-align: left;
  }

  @media (max-width: $--mobile-breakpoint) {
    flex-direction: column;
    width: 100%;

    input,
    select {
      width: 100%;
      margin: 0;
    }
  }
}
