@import "./global.scss";

.App {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.nft-url-form {
  width: 100%;
  input {
    width: 100%;
  }

  @media (max-width: $--mobile-breakpoint) {
    flex-direction: column;
    width: 100%;

    input {
      width: 100%;
      margin: 0;
    }
  }
}

.form-separator {
  margin: 15px 0 15px 0;
}

.nft-properties-form {
  display: flex;
  flex-direction: row;

  input {
    margin: 0 10px 0 10px;
  }

  label {
    text-align: left;
  }

  @media (max-width: $--mobile-breakpoint) {
    flex-direction: column;
    width: 100%;

    input,
    select {
      width: 100%;
      margin: 0;
    }
  }
}
