:root {
  --primary-background-color-dark-theme: #1b1d29;
  --secondary-background-color-dark-theme: #252939;
  --primary-text-color-dark-theme: #ffffff;
  --primary-theme-color: #215bf0;
  --primary-theme-color-light: #228dff;
}

$--mobile-breakpoint: 600px;
$--tablet-breakpoint: 900px;

* {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color-dark-theme);
}

p {
  font-weight: 300;
  color: var(--primary-text-color-dark-theme);
  margin: 10px;
}

label {
  display: block;
  font-weight: 300;
  color: var(--primary-text-color-dark-theme);
  margin: 10px;
}

input,
select {
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 6px;
  background-color: var(--secondary-background-color-dark-theme);
  color: var(--primary-text-color-dark-theme);

  &:focus {
    outline: none;
  }
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}
