@import "../../global.scss";

.nft-metadata-viewer-container {
  display: block;
  text-align: center;
  word-wrap: break-word;

  .badge {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &.align-responsive {
    display: flex;
    text-align: left;

    .badge {
      display: flex;
      justify-content: start;
      align-items: left;
      text-align: left;
    }
  }

  .nft-img-container {
    img {
      border-radius: 5px;
      width: 15vw;
      height: auto;
      margin-right: 15px;
    }
  }

  .nft-name {
    margin-left: 10px;
  }

  @media (max-width: $--tablet-breakpoint) {
    flex-direction: column;
    text-align: center;

    &.align-responsive {
      text-align: center;

      .badge {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
    }

    .nft-img-container {
      img {
        width: 30vw;
        margin-bottom: 15px;
      }
    }

    .nft-name {
      margin: 0;
    }
  }
}
